[submodule "Phosphorus-and-climate-in-Swiss-lakes"]
	path = Phosphorus-and-climate-in-Swiss-lakes
	url = https://github.com/Protodekas/Phosphorus-and-climate-in-Swiss-lakes
[submodule "Job-market-in-Switzerland"]
	path = Job-market-in-Switzerland
	url = https://github.com/Protodekas/Job-market-in-Switzerland
